.node {
  width: 25px;
  height: 25px;
  background-color: white;
  outline: 1px solid rgb(175, 256, 248);
  display: inline;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}
