.root {
  flexgrow: 1;
}

.menubutton: {
  marginright: theme.spacing(2);
}

.Spacer {
  padding-left: 20px;
  padding-right: 0px;
}


.text-message {
  padding-left: 50px;
}

.message{
  position: absolute;
  bottom: 0;
  left: 0;
}
